.card-img-top {
    width: 10rem;
    height: 10rem;
    margin-left: 0rem;
}

#class-description {
    margin-top: 1rem;
}

#time-location-table {
    border-collapse: collapse;
    width: 100%;
}
  
#time-location-table td, #time-location-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#time-location-table tr:nth-child(even){
    background-color: #f2f2f2;
}

#time-location-table tr:hover {
    background-color: #ddd;
}

#time-location-table tr th {
    text-align: center;
}

#time-location-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cc0000;
    color: white;
}

#grades {
    text-align: center;
    font-size: 20;
    border: solid red;
    border-width: 5px;
    width: 50%;
    margin-bottom: 1rem;
}

#grades th, #grades td {
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.card {
    margin: 0.5rem;
}

.time-location-table {
    background-color: #fa6984;
    width: 50%;
}