.card {
    padding: 1rem;
}

.card-body {
    background-color: #f0e7e6;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.card-body:hover {
    transform: scale(1.05);
}

.card-deck {
    padding: 2rem;
}

.center {
    text-align: center;
}