#banner {
    background-color: #903749;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    margin: -0.5rem -0.5rem 0 -0.5rem;
}

#footer {
    background-color: #903749;
    text-align: left;
    padding: 2rem;
    color: #fff;
    margin: 0 -0.5rem -0.5rem -0.5rem;
}

.navbar-brand, .navbar-nav li .nav-link {
    color: #fdfdfd;
}

.navbar-brand:hover, .navbar-nav li .nav-link:hover, a.dropdown-item:hover {
    color: #e84545;
}

.card-deck {
    padding: 2rem;
}